* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

Body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #4CAF50 0%, #E8F5E9 100%);

}